/.DS_Store
/.history
/aws-jenkins-machine/terraform/.terraform/
/aws-jenkins-machine/terraform/.terraform.lock.hcl
/aws-jenkins-machine/terraform/check_status.sh
/aws-jenkins-machine/terraform/terraform.tfstate
/aws-jenkins-machine/terraform/terraform.tfstate.backup
/aws-eks-credentials/terraform.tfstate
/aws-eks-credentials/terraform.tfstate.backup
/aws-eks-credentials/.terraform/
/aws-eks-credentials/.terraform.lock.hcl
/.idea/
/doc/~$torial.docx
/aws-eks-permissions/.terraform.lock.hcl
/aws-eks-permissions/terraform.tfstate
/aws-eks-permissions/terraform.tfstate.backup
/aws-jenkins-machine/terraform/terraform-pem-ansible-dec04.pem
/aws-eks-permissions/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_arm64/terraform-provider-aws_v4.67.0_x5
/aws-eks-permissions/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.2/darwin_arm64/terraform-provider-null_v3.2.2_x5
